@font-face {
    font-family: 'SaturdayRock';
    src: url('/fonts/Saturday\ Rock.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Saturday\ Rock.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/fonts/Saturday\ Rock.otf') format('otf');
  }

body {
    background-color: rgb(56, 51, 51);
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Quicksand', 'Helvetica', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif, 
}


/* TO-DO 
Abstand link bio
stream link automatisch mit ändern
cursor wird zu finger beim hovern
animation oder transparent sobald cursor über song hovert
live section
download artwork , neueste mp3
kaso tutorial css html updates
titelbild fade out
items animation und rot
download: mp3,spotifycover

*/

.card-link {
    margin-bottom: 10px;
}
.navbar {
    font-family: 'saturdayrock';
    font-size: 25px;
    font-weight: bold;
    
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.938);
}

.navbar-brand {
    font-size: 47px;
    text-shadow: 3px 3px #ff0009;
    color: white;
}

.nav-link {
    color: white !important;
    letter-spacing: 4px;
    display: inline-block;
    transition: 200ms;
}

.nav-link:hover {
    text-shadow: 3px 3px #ff0009;
    transform: scale(1.2);
}

.nav-item {
    padding-left: 1rem;
}

#hero {
    background-image: url('/images/KASO_FOTOS_01-01062.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-shadow: inset 0px -50px 65px 0px rgb(0 0 0 / 94%);
}

h3 {
    font-family: 'saturdayrock';
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 2px 2px white;
    padding: 2rem 0;
}

.icon-bar {
    background-color: #fff;
    border-top: 1px solid #2f2d2d;
    border-bottom: 1px solid #2f2d2d;
    border-left: 1px solid #2f2d2d;
    border-radius: 3px;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 55%;
    transform: translatey(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all .3s ease;
    color: white;
    font-size: 30px;
}

.icon-bar a:hover {
    background-color: rgb(199, 199, 199);
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: none;
}


#quote {
    color: white;
}


#bio-card {
    background-color:rgba(173, 42, 42, 0.2);
    background-color: rgba(0,0,0,0.4) !important;
    box-shadow: 7px 7px 5px rgba(31, 31, 31, 0.521);
}

.bio-text {
    color: white;
    
}

.btn-dark {
    color: #fff !important;
    background-color: #212529 !important;
    border-color: #212529 !important;
}

.kachel {
    cursor:pointer;
    transition: 300ms;
}

.kachel:hover {
    transform: scale(1.07);
    filter:grayscale(0.5);
}

/* .kacheln {
    width: 400px;
    height: 400px;
    overflow: hidden;
} */

.photos img, .kacheln img, .soundcloud, .contact, .youtube{
    box-shadow: 7px 7px 5px rgba(31, 31, 31, 0.521);
}

.soundcloud {
    margin-bottom: 10px;
}

.photos img {
    padding: 0;
}

/* colors
background-color: rgba(233, 196, 214, 1.0);
background-color: rgba(201, 107, 84, 1.0);
*/

section:nth-child(2n) {
    background-color: rgba(204, 72, 55, 0.5);
}

section:nth-child(2n + 1) {
    background-color: rgba(204, 72, 55, 0.3);
}

.shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.521)  !important;
}

footer div {
    text-align: center;
}